<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome you to joint our teams</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body style=" margin: 0; font-family: 'Roboto';font-size: 16px;color: #121111;">
<div style="padding: 30px; max-width: 720px; border-bottom: 1px solid #C8CED3; "> <img
        src="https://mcusercontent.com/29ca7799c3418dd731351e8fe/images/cdc61163-72b9-4f60-95a7-0e8fc3a52042.jpg" id="logo" width="195px" height="75px">
</div>
<p style="margin: 20px 0;">Dear <span style="color: red" th:text="${fullname}"></span>,</p>
<p><b>Congratulations!</b> You have successfully registered an account and become an important member of our community.</p>
<p>Let's explore our projects, useful feature and lots of interesting information. Please connect and interact with our community via Facebook and other social sites!</p>
<p>Have a nice day!</p>
</body>
</html>